<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<!--@thymesVar id="busInfo" type="training.busboard.web.PokemonInfo"-->

    <head>
        <title>Pokemon Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Pokemon Information</h2>
            <div>
                <p><div th:each="detail: ${busInfo.getDetails()}">
                    <div th:text="${detail}" /></div>
                </div></p>
        </div>
    </body>
</html>